spawn-at-startup "qs"; 
spawn-at-startup "kime";
spawn-at-startup "~/.local/bin/vicinae" "server";
spawn-at-startup "pipewire"
spawn-at-startup "pipewire-pulse"
spawn-at-startup "wireplumber"
spawn-at-startup "swayidle" "-w" "timeout" "10" "qs ipc call lockscreen lock" \
"timeout" "600" "niri msg action power-off-monitors" \
"before-sleep" "qs ipc call lockscreen lock"
//spawn-sh-at-startup "xrandr" "--output" "eDP-1" "--primary"
